{% extends 'base.html' %}

{% block content %}
<div class="main">
    <div class="container">
        <p class="muted-text">PASSWORD GENERATOR TOOL</p>
        <h1>Generate a secure password</h1>
        <p class="intro-text">Use our online password generator to instantly create a secure, random password.</p>
        <div class="medium-container">
            <h3 class="settings-title">Customise your password</h3>
            <form action="{% url 'password_generator' %}" method="POST">
                {% csrf_token %}
                    <label for="customRange2">Password length</label>
                    <span id="pwLengthValue">16</span><input type="range" class="custom-range" min="1" max="50" value="16" id="pwLength" name="pwLength">
                    <div class="row">
                        <div class="col">
                            <div class="custom-control custom-switch">
                                <input type="checkbox" class="custom-control-input" id="pwUpper" name="pwUpper">
                                <label class="custom-control-label" for="pwUpper">Uppercase</label>
                            </div>
                        </div>
                        <div class="col">
                            <div class="custom-control custom-switch">
                                <input type="checkbox" class="custom-control-input" id="pwNumbers" name="pwNumbers">
                                <label class="custom-control-label" for="pwNumbers">Numbers</label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="custom-control custom-switch">
                                <input type="checkbox" class="custom-control-input" id="pwLower" name="pwLower" checked="checked">
                                <label class="custom-control-label" for="pwLower">Lowercase</label>
                            </div>
                        </div>
                        <div class="col">
                            <div class="custom-control custom-switch">
                                <input type="checkbox" class="custom-control-input" id="pwSymbols" name="pwSymbols">
                                <label class="custom-control-label" for="pwSymbols">Symbols</label>
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary btn-password">Generate Password</button>
              </form>
        </div>
        <div class="medium-container">
          {% if password %}
            <p class="password-text"><i class="far fa-copy" id="copy-icon" data-toggle="modal" data-target="#exampleModal"></i>&nbsp;<span id="password-span">{{ password }}</span></p>
            <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Copied!</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <img src="https://source.unsplash.com/490x323/?nature,water" alt="">
                        </div>
                    </div>
                </div>
            </div>
          {% endif %}
        </div>
    </div>
</div>
{% endblock %}